# Fichiers de configuration sensibles
.env
.env.local
.env.development
.env.test
.env.production

# Dépendances Node.js
/node_modules
npm-debug.log
yarn-debug.log
yarn-error.log

# Fichiers système
.DS_Store
Thumbs.db

# Fichiers de build et temporaires
.vercel
.next
.cache
dist/

# Logs
*.log
.vercel
